## Hàm cơ bản

In [5]:
import pandas as pd

In [7]:
df = pd.read_csv("chipotle.tsv",sep ="\t")

In [9]:
df.head() 
# xem thông tin 5 dòng đầu

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [11]:
df.shape 
# Cho biết có bao nhiêu hàng và bao nhiêu cột tương ứng

(4622, 5)

In [12]:
df.info() 
# Cho biết thông tin của từng cột, "Non-null Count" tức là số cột k rỗng tương ứng, "Memory usage": số dữ liệu tiêu tốn

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [13]:
list(df.columns)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [14]:
df.index
#Cho biết dataset có giá trị từ bao nhiêu đến bao nhiêu

RangeIndex(start=0, stop=4622, step=1)

In [15]:
df.describe()
#Cho biết thông tin của những column có KIỂU LÀ INTEGER , "mean": trung bình, "std": độ lệch chuẩn

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

In [17]:
df.describe(include ="all") 
# mô tả những cột có kiểu dữ liệu khác integer

           order_id     quantity     item_name choice_description item_price
count   4622.000000  4622.000000          4622               3376       4622
unique          NaN          NaN            50               1043         78
top             NaN          NaN  Chicken Bowl        [Diet Coke]     $8.75
freq            NaN          NaN           726                134        730
mean     927.254868     1.075725           NaN                NaN        NaN
std      528.890796     0.410186           NaN                NaN        NaN
min        1.000000     1.000000           NaN                NaN        NaN
25%      477.250000     1.000000           NaN                NaN        NaN
50%      926.000000     1.000000           NaN                NaN        NaN
75%     1393.000000     1.000000           NaN                NaN        NaN
max     1834.000000    15.000000           NaN                NaN        NaN

## loc vs iloc

In [21]:
df.loc[(df.quantity == 2) | (df.item_name =="Nantucket Nectar"),['order_id','quantity','item_name']]
#Lọc những hàng theo điều kiện ( giống như lệnh select ), dấu "|" là dấu hoặc, argument thứ 2 sau dấu "," là những cột mình muốn lấy

      order_id  quantity           item_name
2            1         1    Nantucket Nectar
4            2         2        Chicken Bowl
18           9         2         Canned Soda
22          11         1    Nantucket Nectar
51          23         2         Canned Soda
...        ...       ...                 ...
4435      1767         2        Chicken Bowl
4499      1789         2   Canned Soft Drink
4560      1812         2   Canned Soft Drink
4561      1813         2  Chicken Salad Bowl
4582      1822         2       Bottled Water

[249 rows x 3 columns]

### iloc[row_selection, column_selection]

In [22]:
df.iloc[10] 
#Cho biết hàng thứ 10 của dataset

order_id                                5
quantity                                1
item_name             Chips and Guacamole
choice_description                    NaN
item_price                         $4.45
Name: 10, dtype: object

In [23]:
df.iloc[[10]] 
#chuyển thành dạng dataframe thay vì series

    order_id  quantity            item_name choice_description item_price
10         5         1  Chips and Guacamole                NaN     $4.45

In [24]:
df.iloc[3:11]
#Từ hàng 3 đến hàng thú 11-1 = 10

,order_id,quantity,item_name,choice_description,item_price
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45

In [29]:
df.iloc[3:5, :-1] #lọc hàng từ hàng 3- 4, và loại bỏ cột cuối cùng ("-1" có nghĩa là trừ cột cuối cùng )

,order_id,quantity,item_name,choice_description
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans..."

In [30]:
df.iloc[3:5, -1] # lấy hàng 3,4 của cột cuối cùng

3     $2.39
4    $16.98
Name: item_price, dtype: object

## Data Manipulation

**Đôi khi dữ liệu sẽ bao gồm các dấu, kí tự đặc biệt => ta cần phải loại bỏ các dấu đó để làm sạch dữ liệu**

In [31]:
df.item_price.dtype
# Cần phải convert "O" là object sang "float" để so sánh dữ liệu

dtype('O')

 ### Ép kiểu cách 1 : dùng Apply()

In [35]:
df.item_price = df.item_price.apply(lambda x : float(x.replace('$',''))) 
#chuyển từ "object" về "float", CẦN PHẢI GÁN LẠI CHO CỘT ITEM_PRICE VÌ ÉP KIỂU NÀY CHỈ LÀ TẠM THỜI

In [36]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### Ép kiểu cách 2

In [39]:
# Chuyển đổi tất cả các giá trị trong cột item_price thành chuỗi
df["item_price"] = df["item_price"].astype(str)

# Thay thế ký tự $ và chuyển đổi về kiểu float
df["item_price"] = df["item_price"].str.replace('$', '').astype(float)

In [40]:
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### Tạo column mới

In [42]:
df["total_price"] = df["quantity"] * df["item_price"]

In [43]:
df.head()

,order_id,quantity,item_name,choice_description,item_price,total_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

### Tính tổng doanh thu

In [45]:
revenue = df["total_price"].sum()
print(revenue)

39237.02

### Hàm Group By

In [48]:
df.groupby("item_name")["quantity"].sum()
# Tính tổng "quantity" , group by theo từng tên sản phẩm

item_name
6 Pack Soft Drink                         55
Barbacoa Bowl                             66
Barbacoa Burrito                          91
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Barbacoa Soft Tacos                       25
Bottled Water                            211
Bowl                                       4
Burrito                                    6
Canned Soda                              126
Canned Soft Drink                        351
Carnitas Bowl                             71
Carnitas Burrito                          60
Carnitas Crispy Tacos                      8
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             761
Chicken Burrito                          591
Chicken Crispy Tacos                      50
Chicken Salad                              9
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Chips                                    230
Chips and Fresh Tomato Salsa             130
Chips and Guacamole                      506
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        23
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     45
Chips and Tomatillo Red Chili Salsa       50
Chips and Tomatillo-Green Chili Salsa     33
Chips and Tomatillo-Red Chili Salsa       25
Crispy Tacos                               2
Izze                                      20
Nantucket Nectar                          29
Salad                                      2
Side of Chips                            110
Steak Bowl                               221
Steak Burrito                            386
Steak Crispy Tacos                        36
Steak Salad                                4
Steak Salad Bowl                          31
Steak Soft Tacos                          56
Veggie Bowl                               87
Veggie Burrito                            97
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          8
Name: quantity, dtype: int64

#### Sắp xếp tăng dần

In [50]:
c = df.groupby("item_name")["quantity"].sum() 
c.sort_values 
# sắp xếp tăng dần

<bound method Series.sort_values of item_name
6 Pack Soft Drink                         55
Barbacoa Bowl                             66
Barbacoa Burrito                          91
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Barbacoa Soft Tacos                       25
Bottled Water                            211
Bowl                                       4
Burrito                                    6
Canned Soda                              126
Canned Soft Drink                        351
Carnitas Bowl                             71
Carnitas Burrito                          60
Carnitas Crispy Tacos                      8
Carnitas Salad                             1
Carnitas Salad Bowl                        6
Carnitas Soft Tacos                       40
Chicken Bowl                             761
Chicken Burrito                          591
Chicken Crispy Tacos                      50
Chicken Salad                              9
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Chips                                    230
Chips and Fresh Tomato Salsa             130
Chips and Guacamole                      506
Chips and Mild Fresh Tomato Salsa          1
Chips and Roasted Chili Corn Salsa        23
Chips and Roasted Chili-Corn Salsa        18
Chips and Tomatillo Green Chili Salsa     45
Chips and Tomatillo Red Chili Salsa       50
Chips and Tomatillo-Green Chili Salsa     33
Chips and Tomatillo-Red Chili Salsa       25
Crispy Tacos                               2
Izze                                      20
Nantucket Nectar                          29
Salad                                      2
Side of Chips                            110
Steak Bowl                               221
Steak Burrito                            386
Steak Crispy Tacos                        36
Steak Salad                                4
Steak Salad Bowl                          31
Steak Soft Tacos                          56
Veggie Bowl                               87
Veggie Burrito                            97
Veggie Crispy Tacos                        1
Veggie Salad                               6
Veggie Salad Bowl                         18
Veggie Soft Tacos                          8
Name: quantity, dtype: int64>

#### Sắp xếp giảm dần

In [55]:
c = df.groupby("item_name")["quantity"].sum() 
c.sort_values(ascending = False).head(5)

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Steak Burrito          386
Canned Soft Drink      351
Name: quantity, dtype: int64

#### Đếm bao nhiêu hàng khác nhau đc bán ra

In [53]:
df.item_name.value_counts().count()

50

In [54]:
df.item_name.nunique()

50